@using ZeroKWeb
@using ZkData
@{
    var db = new ZkDataContext();
}

@foreach (var f in db.Factions.OrderBy(x => x.Planets.Count()))
{
    <div style="float:left;">
    @Html.Partial("~/Views/Factions/FactionBox.cshtml", f)
   </div>
}
<span style="clear:both"></span>
