@using ZkData
@model IEnumerable<PlanetFaction>

<table>

    @foreach (var facGroup in Model.Where(x=>x.Influence > 0).OrderByDescending(g => g.Influence))
    {
        <tr>
            <td>
                <b><img src='@facGroup.Faction.GetImageUrl()' style='width: 32px; height: 32px;'/></b>
            </td>
            <td>
                <b>
                    @Html.PrintInfluence(facGroup.Faction, facGroup.Influence)
                </b>
            </td>
        </tr>
    }
</table>
