@using ZkData
@using ZeroKWeb
@model IEnumerable<AccountPlanet>

<table>
  @foreach (var clanGroup in Model.Where(ap => ap.Influence + ap.ShadowInfluence > 0)
                                  .GroupBy(ap => ap.Account.Clan)
                                  .OrderByDescending(g => g.Sum(ap => ap.Influence + ap.ShadowInfluence))) {
    <tr>
      <td>
        <b>@Html.PrintClan(clanGroup.Key)</b>
      </td>
      <td>
        <b>
          @Html.PrintInfluence(clanGroup.Key, clanGroup.Sum(ap => ap.Influence + ap.ShadowInfluence), clanGroup.Sum(ap => ap.ShadowInfluence))
        </b>
      </td>
      @foreach (var accountPlanet in clanGroup.OrderByDescending(ap => ap.Influence + ap.ShadowInfluence)) {
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>@Html.PrintAccount(accountPlanet.Account)</small></td>
          <td>&nbsp;&nbsp;&nbsp;<small>@Html.PrintInfluence(accountPlanet)</small></td>
        </tr>
      }
    </tr>
  }
</table>
