@model ZkData.Planet
         
<table>
  @foreach (var p in Model.AccountPlanets.GroupBy(x => x.Account.Clan).Select(x => new { clan = x.Key, dropships = x.Sum(y => y.DropshipCount) }).Where(x => x.dropships > 0).OrderByDescending(x => x.dropships)) { 
    <tr>
      <td>@Html.PrintClan(p.clan)
      </td>
      <td><img src='/img/dropship.png' />
        @p.dropships
      </td>
    </tr>
  }
</table>
