@model ZkData.Planet
         
<table>
  @foreach (var p in Model.PlanetFactions.Where(x => x.Dropships > 0).OrderByDescending(x => x.Dropships)) { 
    <tr>
      <td>@Html.PrintFaction(p.Faction, false)
      </td>
      <td><img src='@p.Faction.GetShipImageUrl()' />@p.Dropships</td>
    </tr>
  }
</table>
