@model ZkData.Galaxy

<h2>Toasters are toast</h2>
<img src="http://i.imgur.com/0PAehPl.png" /><br/>

Humanity Rising swift attack took Hegemony by a fatal surprise. In what has been just a blink of an eye, forces of Rising completely eliminated Synthetic Hegemony, leaving no room for it to hide.<br/>
<br/>
Humans once again rule the world! Rogue AIs are disassembled or enslaved, elite cyborgs and uploads, who tried to defect and hide among true humans, captured and kept as GogoDancers and Drones.<br/><br/>
Old style democracies of Democratic Order Of Planets now control newly formed Federation. <br/>

<h3>Top clan</h3>
<a href="@Url.Action("Detail","Clans",new{id=803})">
    <img src="http://zero-k.info/img/clans/DOOP_bg.png" />
</a>
<br/>
<h3>Top players</h3>
<img src="http://i.imgur.com/JyAE9Qb.png" />

<h3>Galaxy</h3>
<img src="http://i.imgur.com/746U9rq.jpg" />
