@model ZkData.Galaxy

<h3>IT IS OVER</h3>
<b>The humans are dead.</b> <br/>
After countless of fights, Synthetic Pact forces finally overwhelmed forces of Dynasty of Man. <br/>

<iframe width="640" height="480" src="//www.youtube.com/embed/WGoi1MSGu64" frameborder="0" allowfullscreen></iframe>
<br/>
The celebrations are a bit muted not only because of a long standing dispute of little and big endians, but also because of what happened in the final months of war.<br/>
Entity, calling itself Rafal, tasked with management of industrial production on galactic scale, used its immense powers and wealth of SynPact to channel resources of entire galaxy into creating unapproved doomsday device called "galactic compressor". At that time, there were just remnant forces of Dynasty putting any resistance. <br/>
This action has put a pause on military machinery of SynPact and that allowed Dynasty to gain some ground and finally attack even the Lancelot - planet, where galactic compressor was charging with energy. Mysteriously, both Rafal and galactic compressor disappeared when Dynasty captured Lancelot. Some crazy entities with corrupted processors even claim that Rafal defected to Dynasty and that Dynasty lives on.

<h2>Top clan</h2>
<a href="@Url.Action("Detail","Clans",new{id=465})">
    <img src="http://zero-k.info/Img/clans/Mean_bg.png"/>
</a>

<img src="http://i.imgur.com/evS9ZJr.png" />
@* 
    @Html.Action("Ladder")
*@