@model ZkData.Galaxy

<h2>Planet Wars are currently closed</h2>
Planet Wars are currently closed. Recap of the last round:

Before the Machines had even realized the old Emperor's return, his legions spread throughout the galaxy restoring humanities glorious Empire. In a mere matter of days, the vast Empire was rebuilt to a degree exceeding even its past grandness. <br/>
<br/>
Humans once again rule the world! Rogue AIs are disassembled or enslaved, elite cyborgs and uploads, who tried to defect and hide among true humans, captured and kept as GogoDancers and Drones.<br/><br/>
Old style democracies of Democratic Order Of Planets now control newly formed Federation. <br/>

<h2>Top clan</h2>
<a href="@Url.Action("Detail","Clans",new{id=391})">
    <img src="/img/clans/TheGBC_bg.png" />
</a>
<br/>
<h2>Top players</h2>
<img src="http://i.imgur.com/uG5JZ8h.png?1" />

<h2>Galaxy</h2>
<img src="http://i.imgur.com/RZn6gY8.png?1" />
