@using ZkData
@using ZeroKWeb
@model int

<form method="post" action="@Url.Action("JoinClan", new { id = Model})">
Password to join the clan: <input type="password" name="password" /><br />
<input type="submit" value="Join"/>
</form>