@using ZeroKWeb
@using ZkData
@model ZkData.Galaxy

@{
    var galaxy = Model;
    var mapWidth = 700;
    var mapHeight = 500;
}

@section head {
    <script type="text/javascript">
        window.onload = function () 
        {
            var paper = Raphael(document.getElementById("notepad"), @mapWidth, @mapHeight);

            @foreach (var link in galaxy.Links)
            { 
                var p1 = link.PlanetByPlanetID1;
                var p2 = link.PlanetByPlanetID2;

                var x1 = p1.X * mapWidth;
                var y1 = p1.Y * mapHeight;
                var x2 = p2.X * mapWidth;
                var y2 = p2.Y * mapHeight;


                if (link.LinktStrength == 0)
                {
                    @: var l = paper.path("@String.Format("M{0:0} {1:0}L{2:0} {3:0}", x1, y1, x2, y2)");
                    @: l.attr({
                    @:  "stroke-width": "2",
                    @:  "stroke": "lightgray",
                    @:  "stroke-dasharray": "-.",
                    @: });
                }
                else 
                {
                    var width = link.LinktStrength * 10 - 2;
                    var color1 = p1.GetColor(Global.Account);
                    var color2 = p2.GetColor(Global.Account);
                    var angle = -Math.Atan2(x2 - x1, y2 - y1) / Math.PI * 180;
                    var length = Math.Sqrt((x2 - x1) * (x2 - x1) + (y2 - y1) * (y2 - y1));
                    @: var r = paper.rect(@x1-@width/2, @y1, @width, @length);
                    @: r.attr({
                    @:  "fill": "90-@color2-@color1",
                    @:  "stroke": "none",
                    @: });
                    @: r.rotate(@angle, @x1, @y1);
                }

            } 

            @foreach (var planet in galaxy.Planets)
            { 
                @: var circle = paper.circle(@(planet.X * mapWidth), @(planet.Y * mapHeight), 10);
                @: circle.attr({
                @:  "fill": "@planet.GetColor(Global.Account)",
                @:  "stroke": "black",
                @:  "stroke-width": "3",
                @: });      
            }
       };
    </script>
}

<div id="notepad"></div> 
