@model IQueryable <ZeroKWeb.Controllers.HomeController.NewThreadEntry>

<div id="forum" class="module">
    <h2 class="handle">Forums</h2>
    <a href='@Url.Action("Index","Forum", new {OnlyUnread= true})'>Go to Forums</a>
    @foreach (var threadEntry in Model)
    {
        <div>@Html.Print(threadEntry.ForumThread)</div>
    }
</div>