@using ZeroKWeb
@model ZkData.Account

@if (Global.AccountID == Model.AccountID && Model.Level <= 5 && !Model.IsDeleted)
{
<div id="intro" class="module">
    <h2 class="handle">Welcome to Zero-K!</h2>
    Be sure to check out the newbie guide. You can practice a bit in the campaign, or dive right into the multiplayer matches.
    @Html.IncludeWiki("NewbieIntro")
</div>
}