@using ZeroKWeb
@using ZkData
@using PlasmaShared
@model ZkData.Account

<div id="planetwars" class="module">

    @if (MiscVar.PlanetWarsMode == PlanetWarsModes.Running)
    {
    <div id="usr_planetwars" class="border relative">

        @if (Model.Planets.Any())
        {
            <h3>Planets owned</h3>
            <table>
                @foreach (Planet p in Model.Planets)
                {
                    <tr>
                        <td>@Html.PrintPlanet(p) </td>
                    </tr>
                }
            </table>
        }


        <h3>PlanetWars events</h3>
        @Html.Action("Events", "Planetwars", new { accountID = Model.AccountID, partial = true })

        <span style="color: #222; font-size: 500%; opacity: .75; position: absolute; right: 5%; top: 5%; z-index: -20">PlanetWars</span>
    </div>
    }
</div>