@using ZeroKWeb
@using ZkData
@using PlasmaShared
@model ZkData.Account

<div id="punishments" class="module">
    <h2 class="handle">Punishments</h2>
    @foreach (Punishment p in Model.PunishmentsByAccountID.Where(x => x.BanExpires > DateTime.UtcNow))
    {
        @Html.DisplayFor(x => p)
    }
</div>