@using ZeroKWeb
@using ZkData
@using PlasmaShared
@model IEnumerable<Account>

<div id="rankings" class="module">
    <h3 class="handle">Top Players</h3>
    <a href='@Url.Action("Index","Ladders")'>Go to Ladder</a>
    <table cellpadding='0' cellspacing='0'>
        <tr>
            <th width="30" align="left">#</th>
            <th width="200" align="left">Name</th>
            <th>Rank</th>
        </tr>
        @{
            int rank = 0;
            foreach (var acct in Model.Take(10))
            {

                <tr>
                    <td>@(++rank)</td>
                    <td><small>@Html.PrintAccount(acct)</small></td>
                    <td>@(Math.Round(acct.GetRating(RatingCategory.MatchMaking).Elo))</td>
                </tr>
            }
        }
    </table>
</div>