@using ZeroKWeb
@using ZkData
@using PlasmaShared
@model ZeroKWeb.Controllers.HomeController.IndexResult

<div id="rankings" class="module">
    <h2><a href='@Url.Action("Index","Ladders")'>Top Players</a></h2>
    <table cellpadding='0' cellspacing='0'>
        <tr>
            <th width="30" align="left">#</th>
            <th width="200" align="left">Name</th>
            <th>Rank</th>
        </tr>
        @{
            int rank = 0;
            foreach (var acct in Model.Top10Players)
            {

                <tr>
                    <td>@(++rank)</td>
                    <td><small>@Html.PrintAccount(acct)</small></td>
                    <td>@(Math.Round(acct.GetRating(RatingCategory.MatchMaking).Elo))</td>
                </tr>
            }
        }
    </table>
</div>