<div id="social" class="module">
    <h2 class="handle">Socialize</h2>
    <div class="flex-container">
        <a href="http://twitter.com/ZeroKTeam">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Twitter_Logo_Mini.svg" alt="twitter" title="twitter" />
            <div class="big-text">Twitter</div>
        </a>
        <a href="https://www.facebook.com/ZeroK.RTS">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/F_icon.svg" alt="facebook" title="facebook" />
            <div class="big-text">Facebook</div>
        </a>
        <a href="https://github.com/ZeroK-RTS">
            <img src="https://i.imgur.com/BItG041.png" alt="github" title="github" />
            <div class="big-text">GitHub</div>
        </a>
        <a href="http://store.steampowered.com/app/334920/ZeroK/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Steam_icon_logo.svg" alt="steam" title="steam" />
            <div class="big-text">Steam</div>
        </a>
        <a href="@Url.Action("Index", "News")">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Feed-icon.svg" alt="newsfeed" title="newsfeed" />
            <div class="big-text">Newsfeed</div>
        </a>
        <a href="https://discord.gg/aab63Vt">
            <img src="https://discord.com/assets/2c21aeda16de354ba5334551a883b481.png" alt="discord" title="discord" />
            <div class="big-text">Discord</div>
        </a>
    </div>
</div>