<div id="social" class="module">
    <h2 class="handle">Socialize</h2>
    <a href="http://twitter.com/ZeroKTeam">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Twitter_Logo_Mini.svg" alt="twitter" />
    </a>
    <a href="https://www.facebook.com/ZeroK.RTS">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/F_icon.svg" alt="facebook" />
    </a>
    <a href="https://github.com/ZeroK-RTS">
        <img src="https://i.imgur.com/BItG041.png" alt="github" />
    </a>
    <a href="http://store.steampowered.com/app/334920/ZeroK/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Steam_icon_logo.svg" alt="steam" />
    </a>
    <a href="@Url.Action("Index", "News")">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Feed-icon.svg" alt="newsfeed" />
    </a>
    <a href="https://discord.gg/aab63Vt">
        <img src="~/Img/discord.png" alt="discord" />
    </a>
</div>