@using ZeroKWeb
@model SpotlightHandler.UnitSpotlight

<div id="unitspotlight" class="module">
    <h2 class="handle">Unit Spotlight</h2>
    <img src="http://manual.zero-k.info/unitpics/@(Model.Unitname).png" />
    <h3>@Model.Name</h3>
    <p>@Model.Title</p>
    <p>@Model.Description</p>
    <a id="manual" href="http://zero-k.info/mediawiki/index.php?title=Manual" target="_blank">Game Manual</a>
</div>