@using ZkData
@using System.Globalization

@{
    Page.Title = "Download Zero-K";
}
<div class="fleft width-100" style="padding: 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <h1>Downloading Zero-K</h1> <br />
    <iframe src="http://store.steampowered.com/widget/334920/" width="600" height="190" frameborder="0"></iframe>
    @Html.IncludeWiki("Download")
    
</div>
<br class="clearfloat" />