@import "admin.less";
@import "userdetail.less";


@import "../colors.less";

.module {
    background: rgba(0,0,0,.5);
    /*min-height: 7em;*/
    overflow: hidden;
    padding-top: .5em;
    padding-bottom: .5em;

    h2, h3 {
        margin-top: 0;
    }

    .handle {
        cursor: move;
    }

    .handle:hover {
        background: rgba(0,0,0,.2);
    }
}

.module-placeholder {
    background: rgba(0,0,0,.5);
    height: 6em;
    border: 1px dashed @highlight;
    border-radius: 1em;
    margin: .5em;
}

.module-column {
    display: inline-block;
    background: rgba(0,0,0,.1);
    width: 100%;
    float: left;
    padding-bottom: 7em;
}