@import "../colors.less";

#userdetail {
    position: relative;
    border-bottom: 2px solid @highlight;
    h1 {
        font-size: 200%;
        text-align: center;
    }
    .rankbg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        max-width: 800px;
        min-width: 420px;
        margin-left: auto;
        margin-right: auto;
        /*z-index: -1;*/
    }
    .progress-container {
        position: relative;
        width: 100%;
        padding-top: 42%;
    }
    .progressbars {
        position: absolute;
        bottom: 1em;
        width: 100%;
    }
}
