<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ModelBaseConnectionString" connectionString="Data Source=planet-wars.eu,100;Initial Catalog=ModelBase;Persist Security Info=True;User ID=modelbase;Password=supermodel"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>