@model IQueryable<ZkData.Resource>

@{
  Layout = "";
}

@foreach (var resource in Model) {
  <div class='mission left'>
    <b>@resource.InternalName</b><br />
    <span  <img src='http://zero-k.info/Resources/@resource.ThumbnailName'/>
  </div>
}
