@model IQueryable<ZkData.Resource>

@{
  Layout = "";
}

@foreach (var resource in Model) {
  <div class='mission left'>
    <b>@resource.InternalName</b><br />
    <span style="margin:0; padding:0; border:1px dashed gray; display:table-cell; text-align:center; vertical-align:middle; width:96px; height:96px;"><img src='http://zero-k.info/Resources/@resource.ThumbnailName' style="margin:0px;padding:0px;"/> </span>
  </div>
}
