@font-face 
{
    src: url( ../SM.eot ); /*eot because IE doesn't render ttf :( */
    font-family: sm;
    src: local("sm"), url( ../SM.ttf ) format("truetype");
}

@font-face 
{
    src: url( ../tomorrow.eot );
    font-family: curly;
    src: local("curly"), url( ../tomorrow.ttf ) format("truetype");
}

@font-face 
{
    src: url( ../RevoPop.eot );
    font-family: revo;
    src: local("revo"), url( ../RevoPop.ttf ) format("truetype");
}

@font-face 
{
    src: url( ../PetitaMedium.eot );
    font-family: petita;
    src: local("petita"), url( ../PetitaMedium.ttf ) format("truetype");
}

b {font-weight: bold; color: #fff;}
i {}
.indent {text-indent: 2em;}
.bold{font-weight: bold;}

h1 {font-size: 160%; color: #fff; padding: 0; margin: 0; }
h2 {font-size: 140%; color: #cee; padding: 0; margin: 0; }
h3 {font-size: 120%; color: #eec; padding: 0; margin: 0; }

a {color: #38bfec; text-decoration: none;}
a:visited {color: #4c90a6;}
a:hover {color: #fff;}
a:active {color: #cbd3d4;}

img {border: none;
     opacity: 1;}

pre
{
	background: #222;
	border: 1px dotted #888;
	padding: 7px;
	margin-left: 4em;
	margin-right: 4em;
}

input
{
	color: #cbd3d4; 
	background: none;
	border: 1px solid teal;
	padding: 3px;
}

input.radio
{
	border: none;
}

.button
{
	color: #38bfec;
	font-family: sm;
	cursor: pointer;
	background: transparent;
}

.button:hover /* hover */
{
	color: #fff;
}

.button:focus:hover /* onclick */
{
	color: #f00;
}

ul {list-style-type: circle;}

ul.poll {list-style-type: none; padding: 0; margin: 0;}

.border
{
	background: #000 url("../img/border-1.png") repeat-x scroll 50% 0;
	margin: 10px;
	padding: 5px;
	opacity: .9;
	border: 1px solid #2a8eaf;
	border-radius: 3px;
	
    box-shadow: 0 0 3px 3px #000;
	-moz-box-shadow: 0 0 3px 3px #000;
    -webkit-box-shadow: 0 0 3px 3px #000;
    
    /*
    -moz-border-image: url("../img/zk_border.png") 10% 10% 10% 10% / 10px 10px 10px 10px ;
    -webkit-border-image: url("../img/zk_border.png") 10% 10% 10% 10% / 10px 10px 10px 10px ;
    -border-image: url("../img/zk_border.png") 10% 10% 10% 10% / 10px 10px 10px 10px ;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
    /**/
}

.ie .border
{
    padding: 13px;
	border: 1px solid #38bfec;
}

.fleft{float: left;}
.fright{float: right;}

.center
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.text-justify{text-align: justify;}

.block{display: block;}
.hide{display: none;}

.relative{position: relative;}
.abs {position: absolute;}

.top{top: 0;}
.left{left: 0;}
.right{right: 0;}
.bottom{bottom: 0;}

.cwhite {color: #fff;}
.clight {color: #ddd;}
.cgray  {color: #888;}
.cdark  {color: #222;}
.cblack {color: #000;}
.cred   {color: #f00;}
.cgreen {color: #0f0;}
.cblue  {color: #00f;}

.bwhite {background: #fff;}
.blight {background: #ddd;}
.bgray  {background: #888;}
.bdark  {background: #222;}
.bblack {background: #000;}
.bred   {background: #f00;}
.bgreen {background: #0f0;}
.bblue  {background: #00f;}

.width-10 {width: 10%;}
.width-20 {width: 20%;}
.width-30 {width: 30%;}
.width-40 {width: 40%;}
.width-50 {width: 50%;}
.width-60 {width: 60%;}
.width-70 {width: 70%;}
.width-80 {width: 80%;}
.width-90 {width: 90%;}

