@font-face {
    font-family: sm;
    src: url('../SM.eot'); /* IE9 Compat Modes */
    src: url('../SM.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../SM.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face 
{
    src: url( ../tomorrow.eot );
    font-family: curly;
    src: local("curly"), url( ../tomorrow.ttf ) format("truetype");
}

@font-face 
{
    src: url( ../RevoPop.eot );
    font-family: revo;
    src: local("revo"), url( ../RevoPop.ttf ) format("truetype");
}

@font-face 
{
    src: url( ../PetitaMedium.eot );
    font-family: petita;
    src: local("petita"), url( ../PetitaMedium.ttf ) format("truetype");
}
