
/* on click asks for confirmation*/
.js_confirm {
}

.js_datepicker {
}

.js_accordion {
}

.js_button {
}

.js_dialog {
    display: none;
}

.js_selectrow {
}

.js_tabs {
}

/* zooms image*/
.js_zoom {
}

/* expands element*/
.js_expand {
    
}