#menu table{width:100%;}
#menu td {vertical-align:middle}

div#menu a /*menu bar*/
{
	padding: 1px 10px;
	text-align: center; 
	font-family: sm, sans-serif;
	font-size: 13px;
}

div#menu a span {display:none;} /*menu text sayings*/

div#menu a:hover span
{
	display: block;
	position: absolute; 
	background: #000;
	color: #cbd3d4;
	top: -0.55em; left: 100%; width: 125px;
	padding: 5px; margin: 10px;
	border: 1px solid #222;
	
	border-radius: 10px 10px 10px 10px ;
	-moz-border-radius: 10px 10px 10px 10px ;
	-webkit-border-radius: 10px 10px 10px 10px ;
	box-shadow: 0 0 3px #fff;
	-moz-box-shadow: 0 0 3px #fff;
	-webkit-box-shadow: 0 0 3px #fff;
	
	font-family: sans-serif;
	font-weight: bold;
	opacity: .9;
	
}

ul.menu {list-style-type: none; padding:5px; margin-left: 0;} /*toplevel menu*/

ul.menu li > ul {display:none;} /*list menu*/

ul.menu li:hover > ul /*dropdown part*/
{
	display:block;
	position:absolute;
	background: #000 url("../img/border-1.png") repeat-x scroll 50% 0;
	padding: 0;
	padding-top: 3px;
	margin: 0;
	margin-top: -3px;
	border: 1px solid #2a8eaf;
	border-top: none;
	border-radius: 3px;
    box-shadow: 0 0 3px 3px #000;
	list-style-type: none; 
	z-index: 50;
}

ul.menu li:hover > ul li
{
	margin: 0;
	padding: 0;
}

ul.menu li:hover > ul li:hover
{
	background: #386779;
}


/* should be hidden for ie */
.gecko div#mainContentWrapper div#menu
{
	position: relative;
    z-index: 100;
}
.webkit div#mainContentWrapper div#menu
{
	position: relative;
    z-index: 100;
}
.opera div#mainContentWrapper div#menu
{
	position: relative;
    z-index: 100;
}
/**/

/* and again for "simplestyle" */
.gecko div#simplestyle div#menu
{
	position: relative;
    z-index: 100;
}
.webkit div#simplestyle div#menu
{
	position: relative;
    z-index: 100;
}
.opera div#simplestyle div#menu
{
	position: relative;
    z-index: 100;
}
/**/