#menu table{width:100%;}
#menu td { vertical-align: middle; padding:0; }

div#menu a /*menu bar*/
{
	display: block;
	position: relative; /* tooltips use "absolute" position, so parent must not be static */
	font-family: sm, sans-serif;
	font-size: 15px;
}

div#menu a span {display:none;} /*menu text sayings*/

div#menu a:hover span
{
	display: block;
	position: absolute; 
	background: #000;
	color: #cbd3d4;
	left: 100%; width: 125px;
	margin-top: -1.55em; /*display tooltip at same height as :hover'ed link*/
	margin-left: 10px;
	padding: 5px;
	border: 1px solid #222;
	
	border-radius: 10px 10px 10px 10px ;
	-moz-border-radius: 10px 10px 10px 10px ;
	-webkit-border-radius: 10px 10px 10px 10px ;
	box-shadow: 0 0 10px #fff;
	-moz-box-shadow: 0 0 10px #fff;
	-webkit-box-shadow: 0 0 10px #fff;
	
	font-family: os, sans-serif;
	font-weight: bold;
}

ul.menu > li > a /* menu links */
{
	padding:8px;
	text-align: center; 
}

ul.menu li  ul  li  a /*sub-menu links, or menu sub-links*/
{
	padding:4px 2px;
	text-align: left;
	font-size: smaller;
}

ul.menu {list-style-type: none; padding: 0; margin: 0; } /*toplevel menu*/

ul.menu li > ul {display:none;} /*list menu*/

ul.menu li:hover > ul /*dropdown part*/
{
	display:block;
	position:absolute;
	background: #000 url("/img/border-1.png") repeat-x scroll 50% 0;
	padding: 5px;
	margin: 0px;
	border: 1px solid #2a8eaf;
	border-top: none;
	border-radius: 3px;
	box-shadow: 0 0 3px 3px #000;
	list-style-type: none; 
	z-index: 50;
}

ul.menu li:hover > ul li
{
	margin: 0;
	padding: 0;
}

ul.menu li:hover > ul li:hover
{
	background: #386779;
}


/* remove for ie */
.gecko div#mainContentWrapper div#menu
{
	position: relative;
	z-index: 100;
}
.webkit div#mainContentWrapper div#menu
{
	position: relative;
	z-index: 100;
}
.opera div#mainContentWrapper div#menu
{
	position: relative;
	z-index: 100;
}
/**/

/* and again for "simplestyle" */
.gecko div#simplestyle div#menu
{
	position: relative;
	z-index: 100;
}
.webkit div#simplestyle div#menu
{
	position: relative;
	z-index: 100;
}
.opera div#simplestyle div#menu
{
	position: relative;
	z-index: 100;
}
/**/
