 .nicetitle, .ui-tooltip, .qtip
{
    background: #000 url("/img/border-1.png") repeat-x;
    position: absolute;
    padding: 8px;
    top: 0px;
    left: 0px;
    font-size: 0.9em;
    font-family: font, sans-serif;
    font-weight:normal;
    border: 1px solid #38bfec;
    border-radius: 3px;
    max-width: 400px;
    opacity: .9;
	z-index:-2;
}
div.nicetitle p {
    margin: 0; padding: 0 3px;
}
div.nicetitle p.destination {
    font-size: 9px;
    text-align: left;
    padding-top: 3px;
}

.ui-tooltip-titlebar,
.ui-tooltip-content
{ font-size: 0.9em;
  background: none;
  color: #FFF;
  border: none;
  }

	.ui-tooltip-titlebar
	{ 
	}

	.ui-tooltip-titlebar .ui-tooltip-icon
	{
	  background: none;
	}
	
	.ui-tooltip-titlebar .ui-state-hover{
	}
