.nicetitle, .ui-tooltip, .qtip {
    background: #000 url("/img/border-1.png") repeat-x;
    border: 1px solid #38bfec;
    border-radius: 3px;
    font-family: os, sans-serif;
    font-size: 80%;
    font-weight: normal;
    left: 0px;
    max-width: 400px;
    opacity: .9;
    padding: 8px;
    position: absolute;
    top: 0px;
    z-index: -2;
    color: white;
}

div.nicetitle p {
    margin: 0;
    padding: 0 3px;
}

div.nicetitle p.destination {
    font-size: x-small;
    padding-top: 3px;
    text-align: left;
}

.ui-tooltip-titlebar,
.ui-tooltip-content {
    background: none;
    border: none;
}

.ui-tooltip-titlebar { }

.ui-tooltip-titlebar .ui-tooltip-icon { background: none; }

.ui-tooltip-titlebar .ui-state-hover { }