@import url("fonts.css");
@import url("base.css");
@import url("menu.css");
@import url("nicetitle.css");
@import url("stars.css");
@import url("levelrank.css");
@import url("jquery.ui.stars.css");
@import url(http://www.google.com/cse/api/branding.css);

.js_tabs {}

html
{
    /*background: #000 url("../img/bg_bluehex.gif") fixed;*/
    background: #000;
	color: #ede;
	font-family: font, sans-serif;
	font-size: 1em;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	z-index:0;
}

body
{
    background: none;
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

#fadetoblack
{
	background: url("../img/fade.png") repeat-y 50% 0;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.wrapper
{
	position: relative;
	padding: 10px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-top: 0;
	border-bottom: 0;
	text-align: justify;
	z-index:0;
}

div#footer
{
	position: relative;
	clear: both;
}

.floatingheader
{
    position:fixed;
    top:10px;
	margin-left: auto;
	margin-right: auto;
	z-index:100;
}

.floatingfooter
{
    position:fixed;
    bottom:-10px;
	margin-left: auto;
	margin-right: auto;
	z-index:100;
}

ul.forumtab
{
    list-style-image: url("../../Img/bullet.png");
    padding-left: 15px;
}

hr.pretty
{
	background: url("../../img/hr_img1.png");
	width: 80%;
	height: 1px;
}

div#simplestyle
{
    margin: 10px;
}

div#ajaxScrollProgress
{
	background: #190c02; /*bgcolor of load.gif*/
	position: fixed;
	display: none;
	top: 40%;
	left: 40%;
	right: 40%;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	z-index: 100;
}

.admin
{
	border: 1px dotted red;
	padding: 3px;
	margin: 2px;
}

.test
{
	border: 1px solid red;
}

.border
{
	background: #000 url("../img/border-1.png") repeat-x scroll 50% 0;
	margin: 10px;
	padding: 5px;
    border: 1px solid #2a8eaf;
	border-radius: 3px;
    box-shadow: 0 0 3px 3px #000;
	-moz-box-shadow: 0 0 3px 3px #000;
    -webkit-box-shadow: 0 0 3px 3px #000;
    
    /* old border image 
    -moz-border-image: url("../img/zk_border.png") 10% 10% 10% 10% / 10px 10px 10px 10px ;
    -webkit-border-image: url("../img/zk_border.png") 10% 10% 10% 10% / 10px 10px 10px 10px ;
    -border-image: url("../img/zk_border.png") 10% 10% 10% 10% / 10px 10px 10px 10px ;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
    /**/
}

.ie .border
{
    padding: 13px;
	border: 1px solid #38bfec;
}

/* Download-Button on Homepage */
.buttonSpan
{
    height: 45px;
    width: 45px;
    background-image: url("../img/downloadBlue45.png");
    display: inline-block;
    vertical-align:middle;
}

.buttonSpan:hover
{
    background-image: url("../img/downloadBlue45_2.png");
}

.textbutton
{
	display: inline-block;
	background: #000 url("../Img/download.png") no-repeat center;
	color: #38bfec;
	border-radius: 5px;
	border: 1px solid #2a8eaf;
    box-shadow: 0 0 2px 2px #38bfec;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 4px 1px 4px 1px;
	cursor: pointer;
    text-align: center;
    font-family: skir, sans-serif;
}

.textbutton:hover
{
	color: #fff;
    box-shadow: 0 0 2px 2px #fff;
    text-decoration: none;
}

.downloadbutton
{
	position: relative;
	display: block;
	background: #000 url("../Img/download.png") no-repeat center;
	color: #38bfec;
	border-radius: 5px;
	border: 1px solid #2a8eaf;
    box-shadow: 0 0 2px 2px #38bfec;
	padding: 15px 0 15px 0;
	margin: 10px;
	cursor: pointer;
    text-align: center;
    font-family: skir, sans-serif;
    font-size: 200%;
}

.downloadbutton:hover
{
	color: #fff;
    box-shadow: 0 0 2px 2px #fff;
}

.downloadbutton:active
{
	color: #cbd3d4;
    box-shadow: 0 0 2px 2px #cbd3d4;
}

div.button_2
{
    position:static;
    display:inline-block;
	left: 60px;
	width: 197px;
	height: 43px;
	background: url(/img/download_button.png) no-repeat 0 0;
	font-family: 'Klavika', Helvetica, Arial, sans-serif;
	color: #FFF;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	vertical-align:middle;
	opacity: 1;
	
}

div.button_2:hover {
	background: url(/img/download_button.png) no-repeat 0 -43px;
}

span.button_2text
{
    font-family: 'Klavika', Helvetica, Arial, sans-serif;
    color: #FFF;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 9px;
}

/* Share */
#shares 
{
    vertical-align:middle;
}

/* galaxy map
----------------------------------------------*/
.sectorgrid
{
	position: relative; 
	border: 1px solid white; 
	opacity: .15;
	color: white; 
	text-align: right; 
	vertical-align: bottom;
}

.sectorgrid:hover
{
	background: #666;
}

.sectorgrid:hover > .sectorname
{
	display: inline;
}

.ie .sectorgrid
{
	display: none;
}

/* Forums
----------------------------------------------*/
.forum_row:hover
{
	/*
	background: #444;
	border: 1px solid #38bfec;
	*/
}

.toggleFalse
{
	background: url("../img/bg_black_translucent.png");
}

.toggleTrue
{
	background: url("../img/bg_111_translucent.png");
}

/* Single Player missions
----------------------------------------------*/
.mission
{
	display: block;
	position: relative;
	background: #111;
	width:250px; 
	height:160px;
	padding: 10px;
	margin: 10px;
	border: 2px solid #444;
	text-align: left;
}

.mission:hover
{
	background: #333;
	cursor: pointer;
}

.play
{
	font-family: sm;
	font-size: 150%;
	display: none;
	position: absolute;
	top: 150px;
	left: 0px;
	z-index: 100;
}

.mission:hover > .play
{
	display: block;
}

.icon16
{
	width:16px;
	height:16px;
	padding:0;
	margin:0;
	vertical-align:middle;
}

.icon32 
{
	width:32px;
	height: 32px; 
}

.icon20
{
	width:20px;
	height: 20px; 
}


.flag
{
	padding:0;
	margin:0;
	vertical-align:middle;
}

.avatar 
{
	padding:0; 
	margin:0;
}

/* Battle detail
-----------------------------------------------------------*/

.battle_winner
{
	border: 1px solid #00FF21;
	padding: 5px;
	margin: 2px;
	border-radius: 5px;
    box-shadow: 0 0 3px 3px #000;
	-moz-box-shadow: 0 0 3px 3px #000;
    -webkit-box-shadow: 0 0 3px 3px #000;
}

.battle_loser
{
	border: 1px solid #FF0000;
	padding: 5px;
	margin: 2px;
	border-radius: 5px;
    box-shadow: 0 0 3px 3px #000;
	-moz-box-shadow: 0 0 3px 3px #000;
    -webkit-box-shadow: 0 0 3px 3px #000;
}

.battle_spec
{
	border: 1px solid #333;
	margin: 2px;
	border-radius: 5px;
}

/* Map detail
-----------------------------------------------------------*/
.rating_all
{
	display: block;
	width: 70px;
	height: 14px;
	padding: 0;
}

.rating_yours
{
	display: none;
	width: 70px;
	height: 14px;
	padding: 0;
}

.ratings:hover > .rating_yours
{
	display: block;
}

.ratings:hover > .rating_all
{
	display: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* google wiki */
.section_anchor 
{
  display:none;
  color: Black;
}

/* Styles for unitguide
-----------------------------------------------------------*/

.unitname {
    font-weight:bold;
}
.unitdesc  {
    font-style:oblique;
}
.helptext {
	font-size:small;
}

.buildpic {
    border: 1px solid white;
}
.statsnumval {
	font-weight:bold;
	color:DeepSkyBlue;
	font-family: monospace;
	white-space:nowrap;
}
.statsfield {
	font-size:small;
}

.forumRow 
{
  width:100%;
}

.forumPostHead 
{
  width:222px;
  border: 1px solid teal;  
}

.forumPostText
{
  background-color:#102020;
  border: 1px solid teal;
  max-width: 700px;
  overflow: hidden;
  white-space:normal;
}


/* planetwars */
.pwlabel 
{
  font-size:11px; 
  font-weight:bold; 
  margin: 0; 
  padding:0; 
  position: absolute;
}

