

.username{
    text-align: center;
    letter-spacing: 0.3px;
    margin-left: 150px;
    margin-right: 150px;
}

.progress_filler{
    
    position:absolute;
    background-image: url('/img/progressl_fill.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 32px;
    display: inline-block;
    left: 0px;
}
    

.progress_empty{
    position:absolute;
    background-image: url('/img/progressr_fill.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 32px;
    display: inline-block;
    right: 0px;
}
    

.progress_begin{
    background-image: url('/img/progressl_base.png');
    background-size: 100% 100%;
    height: 32px;
    width: 16px;
    float:right;
}
    

.progress_end{
    background-image: url('/img/progressr_base.png');
    background-size: 100% 100%;
    height: 32px;
    width: 16px;
    float:left;
}

.progress_text{
    height: 32px;
    padding: 7px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    
.progress_wrapper{
    margin:  0px 150px 0px 150px ;
    position:relative;
}
.progress_wrapper_left{
    width: 150px;
    float: left;
}
.progress_wrapper_right{
    width: 150px;
    float: right;
    text-align: right;

}
.user_buttons{
    float: right; 
    text-align: center;
    bottom: 0px;
    margin-top: 0px;
}

.user_buttons table{
}
.user_buttons tr td{
    padding: 4px;
}

#avatar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    /*background-image: url("/img/ranks/level-elo/velvetbacking.jpg");*/
    background-size: 100% 100%;
    width: 94px;
    height: 180px;
}
#avatar table {
    width: 100%;
    padding-top: 0px;
}
.avatarbg{
    background-image: url("/img/avatarbg2.png");
    display: inline-block;
    width: 72px;
    height: 72px;
}
.avatarbg img{
    margin: 3px;
}
#avatar table tr td{
    text-align: center;
    padding: 4px;
}
#usr_info{
    padding-top: 5px;
    
    background-image: url("/img/rankbg/infrared.png");
    background-image: url("/img/rankbg/brown.png");
    background-position: center;
    background-size: auto 347px;
    background-repeat: no-repeat;
}
#badges{
    height: 26px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#levelrank{
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
.ranks{
    height: 200px;
}
#badge,
#avatarwrap{
    width: 49%;
    display: inline-block;
}