<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
			<add name="ServiceData.Properties.Settings.PlanetWarsConnectionString"
					connectionString="Data Source=planet-wars.eu,100;Initial Catalog=PlanetWars;Persist Security Info=True;User ID=planetwars;Password=blackhome"
					providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>