@model IQueryable<ZkData.Account>
         
<span>
<small>
Level sum: @Model.Sum(x=>x.Level), level avg: @Model.Average(x => x.Level), elo avg: @Math.Round(Model.Average(x => x.Elo)) <br />
@foreach (var a in Model) {
  @Html.PrintAccount(a)<br />
}
</small>
</span>

