@model IEnumerable<ZkData.Account>
         
<span>
<small>
Level sum: @Model.Sum(x => (int?)x.Level), level avg: @Math.Round(Model.Average(x => (int?)x.Level)??0), elo avg: @Math.Round(Model.Average(x => (double?)x.Effective1v1Elo)??0)) <br />

@foreach (var a in Model.OrderByDescending(x=>x.Level).Take(30)) {
  @Html.PrintAccount(a)<br />
}
</small>
</span>

