@model object


<!-- Google Code for Download installer Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 978259851;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "57kVCPWpsgIQi5-80gM";
var google_conversion_value = 1;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/978259851/?label=57kVCPWpsgIQi5-80gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<script type="text/javascript">
    $(document).ready(function () {
        _gaq.push(['_trackEvent', 'Download', 'Download installer']);
        setTimeout(function () { window.location = "http://zero-k.info/lobby/Zero-K.setup.exe"; }, 500);
    });
</script>

<h2>Thank you for downloading Zero-K</h2>
<b>If your download does not start, please <a href='http://zero-k.info/lobby/Zero-K.setup.exe'>click here</a></b><br />
<br />
We are looking forward to meet you in game! :)<br />


<h3>You can donate to help us cover server costs:</h3><br />
<a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=S7LYLK6P63H48&lc=CZ&item_name=Spring%20RTS&item_number=SpringRTS&currency_code=EUR&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" title="Donate now!"><img src="http://licho.eu/linked/btn_donateCC_LG.gif" alt="donate" /></a><br />
<small>For more infos visit the official <a href="/Wiki/Donate">donations page</a>.</small>
<hr />

@Html.IncludeWiki("LobbyStart")
