@model object


<!-- Google Code for Download installer Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 978259851;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "57kVCPWpsgIQi5-80gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/978259851/?label=57kVCPWpsgIQi5-80gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<script type="text/javascript">
    $(document).ready(function () {
        _gaq.push(['_trackEvent', 'Download', 'Download installer']);
        setTimeout(function () { window.location = "http://zero-k.info/lobby/setup.exe"; }, 500);
    });
</script>

<h2>Thank you for downloading Zero-K</h2>
<b>If your download does not start, please <a href='http://zero-k.info/lobby/setup.exe'>click here</a></b><br />
<br />
We are looking forward to meet you in game! :)<br />
