@using ZeroKWeb
@using ZkData
@using PlasmaShared
@model ZeroKWeb.Controllers.HomeController.IndexResult

<div id="content">
    @if (Global.IsAccountAuthorized)
    {
        Html.RenderPartial("UserDetail", Global.Account);
    }
    <div class="module-column">
        @{ Html.RenderPartial("_headlines"); }
        @{ Html.RenderPartial("_news"); }
        @{ Html.RenderPartial("_unitspotlight"); }
        @{ Html.RenderPartial("_social"); }
        @{ Html.RenderPartial("_forum"); }
        @{ Html.RenderPartial("_wiki"); }
        @{ Html.RenderPartial("_rankings"); }
    </div>
</div>