@model ZeroKWeb.Controllers.HomeController.IndexResult
@{
  Page.Title = "Zero-K main site";
  var s = Model.Spotlight;
}
<div id="content" class="fleft width-70">
  <div id="features" class="border textwall">
    @Html.IncludeWiki("Features")
  </div>
  <div id="news" class="border">
    @Html.IncludeWiki("News")
  </div>
</div>
<div id="sidebar" class="fright width-30">
  <div id="unit" class="border relative text-left">
    <h2>
      <a>Spotlight: </a>
    </h2>
    <h3>@s.Name</h3>
    <!-- <span class="absright abstop bold button"> <a>&lt;&lt;</a> <a>?</a> <a>&gt;&gt;</a> </span> -->
    <img src="/img/unitpics/@(s.Unitname).png" class="fright"/>
    <p>@s.Description</p>
  </div>
  <!close unit>
  <div id="topten" class="border">
    <h2>
      <a>Top Players</a></h2>
    <table>
      <tr>
        <th width="30" align="left">
          #
        </th>
        <th width="200" align="left">
          Name
        </th>
        <th>
          ELO
        </th>
      </tr>
    </table>
    <a href='http://springie.licho.eu/top50.php'>coming (again) soon :)</a>
  </div>
  <div id="poll" class="border">
    <h2>
      <a>Poll</a></h1> What is your favorite kind of cake?
      <form action="poll.php">
      <ul class="poll">
        <li>
          <input type="radio" class="radio" name="option" value="Vanilla" checked />
          Vanilla </li>
        <li>
          <input type="radio" class="radio" name="option" value="Chocolate" />
          Chocolate </li>
        <li>
          <input type="radio" class="radio" name="option" value="Strawberry" />
          Strawberry </li>
        <li>
          <input type="radio" class="radio" name="option" value="Lemon" />
          Lemon </li>
        <li>
          <input type="radio" class="radio" name="option" value="Wrong" />
          The Cake is a Lie </li>
      </ul>
      <center>
        <input type="submit" value="vote" class="button border" /></center>
      </form>
  </div>
  <!close poll>
</div>
