@model ZeroKWeb.Controllers.MyController.CommandersModel
@using ZeroKWeb.Controllers
@using ZkData
<h2>Unlocked technologies</h2>
@{Html.RenderPartial("UnlockedTechnologies", Model.Unlocks);}
<div>
	You can prepare 6 different commanders using technologies you own.
	<br />
	At the start of each battle, you can pick one of them.
	<br />
	Each commander starts on level 1 in battle, but can morph up to level 4
</div>
<br />
@if (!Model.Unlocks.Any(x => x.Unlock.UnlockType == UnlockTypes.Chassis)) {
	<span>You need to unlock some chassis before you can start customizing commander
	</span>
} else {
	for (int i = 1; i <= GlobalConst.CommanderProfileCount; i++) {
		using (Ajax.BeginForm("CommanderProfile", new { profileNumber = i }, new AjaxOptions() { UpdateTargetId = "com" + i, InsertionMode = InsertionMode.Replace, HttpMethod = "post", LoadingElementId = "ajaxScrollProgress" })) {
		<div id='com@(i)' class="fleft border" style="min-height: 600px;">
			@{Html.RenderAction("CommanderProfile", new { profileNumber = i });}
		</div>
		}
	}
	<br class="clearfloat" /> /*to stop divs from popping out the bottom of parent*/
}
