 @model ZeroKWeb.Controllers.MyController.CommandersModel
@using ZeroKWeb.Controllers
@using ZkData
<h2>Unlocked technologies</h2>
<a href="/My/UnlockList">View all unlocks</a>
@{Html.RenderPartial("UnlockedTechnologies", Model.Unlocks.OrderBy(x=> x.Unlock.UnlockType).ThenBy(x=> x.Unlock.Name));}
<h2>HowTo</h2>
<a href="/Wiki/CommanderGuide">Official commander guide</a>
<ol>
 <li><a href="/My/UnlockList">Unlock</a> at least one chassis and any number of weapons and modules.
 <li>Create different layouts below.
 <li>Pick a commander when the game starts.
</ol>
 You can prepare up to 6 different commanders. Each one starts at level 0 in every battle and can morph up to level 5.
<h2>Commanders</h2>
@if (!Model.Unlocks.Any(x => x.Unlock.UnlockType == UnlockTypes.Chassis)) {
	<span>You need to unlock some chassis before you can start customizing commander
	</span>
} else {
	for (int i = 1; i <= GlobalConst.CommanderProfileCount; i++) {
		using (Ajax.BeginForm("CommanderProfile", new { profileNumber = i }, new AjaxOptions() { UpdateTargetId = "com" + i, InsertionMode = InsertionMode.Replace, HttpMethod = "post", LoadingElementId = "ajaxScrollProgress" })) {
		<div id='com@(i)' class="fleft border" style="min-height: 600px;">
			@{Html.RenderAction("CommanderProfile", new { profileNumber = i });}
		</div>
		}
	}
	<br class="clearfloat" /> /*to stop divs from popping out the bottom of parent*/
}
