@using ZkData
@using ZeroKWeb
@model IEnumerable<Account>
           
@{
    Page.Title = "Report log";
}

<h2>Reports</h2>

@foreach (var report in new ZkDataContext().AbuseReports.Where(x => x.Time > DateTime.UtcNow.AddDays(-7)).OrderBy(x => x.Time).ToList())
{
  <tr>
    <td> Report on @Html.PrintAccount(db.Accounts.Single(x => x.AccountID == report.AccountID)) </td>
    <td> By @Html.PrintAccount(db.Accounts.Single(x => x.AccountID == report.ReporterAccountID)) </td>
    <td> @report.text
    <br><br>
  </tr>
}
