@using ZeroKWeb
@using ZkData
@model ZkData.Account
@{
    if (Model.AccountID == Global.AccountID) { Page.Title = "Contact administrators"; }
    else { Page.Title = "Report user " + Model.Name; }
}

@if (Model.AccountID == Global.AccountID)
{
    <h2>Contact the administrators</h2>
    <div>
        Please describe briefly what has happened. Moderators will look into the issue.<br/>
        Give as much information about your problem as is possible to make sure
        your request is processed as quickly as possible.
    </div>
} else {
    <h2>Report abuse by player @Html.PrintAccount(Model)</h2>
    <div>
        Please describe briefly what has happened. Moderators will look into the issue.<br/>
        <b><u>Include a link to the battle replay, a Pastebin with chat logs, or other relevant evidence.</u><br/>
        <i>Note: Action is unlikely if a report should include evidence and doesn't.</i></b><br/>
        <a href="/Wiki/CodeOfConduct">Code of Conduct</a>
    </div>
}

<form method="POST" action="@Url.Action("ReportToAdminSubmit")">
    @Html.HiddenFor(x=>x.AccountID)
    @Html.TextArea("text","",8,60,null)
    <input type="submit"/>
</form>
