@model IEnumerable<ZkData.ForumCategory>

@if (Model != null)
{
    <h2>
        @Html.ActionLink("Forum index", "Index") /
        @foreach (var cat in Model)
        {
            @Html.ActionLink(cat.Title, "Index", new { categoryID = cat.ForumCategoryID }) @:<span>/</span>
        }
    </h2>
}
