@using ZeroKWeb
@model ZeroKWeb.Controllers.ForumController.IndexResult

@if (Model.PageCount > 1)
{
    <span>
    Pages: 
    @for (int i = 0; i < Model.PageCount; i++)
    {
        if(i == Model.Page)
        {
            <b>@(i+1)</b>
        }
        else
        {
            <b>@Html.ActionLink((i + 1).ToString(), "Index", new { categoryID = Model.CurrentCategory.ForumCategoryID, page = i })</b>
        }
    }
    </span>
}