@model IEnumerable<ZkData.ForumCategory>

<h2>
@Html.ActionLink("Forum index",  "Index")&nbsp; &gt; 
@foreach (var cat in Model) {
  @Html.ActionLink(cat.Title, "Index", new {categoryID = cat.ForumCategoryID }) 
  @:&nbsp; &gt;
}
</h2>
