@model ZeroKWeb.Controllers.ForumController.NewPostResult
@{
  Page.Title = Model.EditedPost != null ? "Edit Post" : "New post";
}

@if (Model.EditedPost != null || Model.CurrentThread == null)
{
  Html.RenderPartial("ForumPath", Model.Path);
  <h3>Post new topic</h3>
}

<form method="post" action="@Url.Action("SubmitPost", "Forum", new { threadID = Model.CurrentThread != null ? (int?)Model.CurrentThread.ForumThreadID : null, categoryID = Model.CurrentCategory.ForumCategoryID, forumPostID = Model.EditedPost != null ? (int?)Model.EditedPost.ForumPostID : null })">
@if (Model.CurrentThread == null) {
  @:Title: <input type="text" name="title" cols="50"/><br/>
}

<textarea name="text" rows="8" cols="80">@(Model.EditedPost != null ? Model.EditedPost.Text:null)</textarea><br />
<input  class="textbutton" type="submit" value="Submit Post" />
</form>


@if (Model.EditedPost != null) {
  @Html.Partial("~/Views/Forum/PostList.cshtml", Model.LastPosts)
}