@using ZeroKWeb
@using ZeroKWeb.Controllers
@using ZkData
@model ZeroKWeb.Controllers.ForumController.PostListModel
@{
    var grid = new UniGrid<ForumPost>(Model.Data) { PageSize = GlobalConst.ForumPostsPerPage };
    grid.AddCol("sort", x => Html.DisplayFor(m => x)).SetSort(x =>x.ForumPostID).SetWidth("100%");
    if (Model.GoToPost != 0)
    {
        grid.PageNumber = 1 + ForumController.GetPostPage(Model.Thread.ForumPosts.First(x => x.ForumPostID == Model.GoToPost));
    }
}
<div id="gposts">
    @using (Ajax.BeginForm("GetPostList", "Forum", new { threadID = Model.ThreadID }, Global.GetAjaxOptions("gposts")))
    {
        <span>
            Filter: @Html.TextBoxFor(x => x.Search)&nbsp;&nbsp;
            Player: @Html.TextBoxFor(x=>x.User)&nbsp;
            <input type="submit" value="Search" />
        </span>
        @GridHelpers.RenderTable(Html, grid,"");
    }

    @if (Model.GoToPost > 0)
    {
        <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            document.getElementById("post@(Model.GoToPost)").scrollIntoView();
        });
        </script>
    }

    <script type="text/javascript">
        $("input[name='User']").autocomplete({
            minLength: 1,
            delay: 0,
            source: '@Url.Action("Users", "Autocomplete", new {threadID= Model.ThreadID})',
            select: function (event, ui) {
                $("input[name='User']").closest('form').submit();
            }
        }).data('ui-autocomplete')._renderItem = function (ul, item) {
            return $("<li></li>").data("item.autocomplete", item).append($("<a></a>").html(item.label)).appendTo(ul);
        };


    </script>
</div>

