@model ZkData.ForumPost

@{
    var p = Model;
    var divID = "ForumPostVoteForm" + p.ForumPostID;
}
@using (Ajax.BeginForm("PostVote", new { forumPostID = @p.ForumPostID, delta = 1 }, new AjaxOptions() { UpdateTargetId = divID, InsertionMode = InsertionMode.Replace, HttpMethod = "post", LoadingElementId = "ajaxScrollProgress" }))
{
    <div id="@divID" align="right">
    @Html.PrintPostRating(p)
    </div>
}
