@using ZeroKWeb
@using ZkData
@model ZeroKWeb.Controllers.LobbyController.ChatModel

@{
    Page.Title = "Chat";
}

<h1>@Page.Title</h1>
<br />
@{
    var ajaxOptions = Global.GetAjaxOptions("grid");
    ajaxOptions.OnSuccess += ";document.getElementById('chatbox').value = ''";
}
@using (Ajax.BeginForm("ChatMessages", "Lobby", null, ajaxOptions, new { id = "form" }))
{
    <table>
        <tr>
            <td>Channel</td>
            <td>@Html.TextBoxFor(x => x.Channel)</td>
        </tr>
        <tr><td>User</td><td>@Html.TextBoxFor(x => x.User, new { data_autocomplete = Url.Action("Users", "Autocomplete"), data_autocomplete_action = "submit" })</td></tr>
    </table>
    <input type="submit" />

    <div id="grid">
        Loading chat messages...
    </div>
    <table class="width-100">
        <tr>
            <td>
                @Html.TextBoxFor(x => x.Message, new { Class = "width-100", Id = "chatbox", Style = "box-sizing: border-box;padding: 5px;" })
            </td>
        </tr>
    </table>
    <br />
}

<script type="text/javascript">
    function updateChat() {
        if (document.getElementById('chatbox').value == '') {
            $('form#form').trigger('submit');
        }
        setTimeout(updateChat, 5000);
    }
    updateChat();
</script>
