@using ZeroKWeb
@using ZkData
@model ZeroKWeb.Controllers.LobbyController.ChatModel

@{
    Page.Title = "Chat";
    var ajaxOptions = Global.GetAjaxOptions("grid");
    ajaxOptions.OnSuccess += ";if (isManualSubmit) {document.getElementById('chatbox').value = '';} isManualSubmit = true;";
}
<style>
    #chatbox {
        width: 100%;
    }
</style>
<div class="content">
    <h1>Chat</h1>
    @using (Ajax.BeginForm("ChatMessages", "Lobby", null, ajaxOptions, new { id = "form" }))
    {
        <table>
            <tr>
                <td>Channel</td>
                <td>@Html.TextBoxFor(x => x.Channel)</td>
            </tr>
            <tr><td>User</td><td>@Html.TextBoxFor(x => x.User, new { data_autocomplete = Url.Action("UsersNoLink", "Autocomplete"), data_autocomplete_action = "submit" })</td></tr>
        </table>
        <input type="submit" value="fixme"/>

        <h3>this needs an overhaul</h3>
        <div id="grid">
            Loading chat messages...
        </div>
        <input type="text" id="chatbox" name="Message" />
    }

</div>
<script type="text/javascript">
    var isManualSubmit = true;
    function updateChat() {
        if (document.getElementById('chatbox').value == '') {
            isManualSubmit = false;
            $('form#form').trigger('submit');
        }
        setTimeout(updateChat, 5000);
    }
    updateChat();
</script>
