@import url("base.css");
@import url("menu.css");

div#notice
{
	background: #f00;
	color: #000;
	font-size: 150%;
	padding: 20px;
	border: 12px double #000;
	border-radius: 10px 10px 10px 10px ;
	-moz-border-radius: 10px 10px 10px 10px ;
	-webkit-border-radius: 10px 10px 10px 10px ;
	text-align: center;
}

html, body
{
	/*scroll background is a lot faster, but requires a bigger image to fill page, fixed image makes ff (others?) really horrible for scrolling*/
	background: #000 url("../img/Kbot_map_test_Flash_stealth.jpg") no-repeat scroll 50% 0;
	color: #fee;
	font-family: font, sans-serif;
	font-size: 100%;
	/*height: 100%;
	width: 100%;*/
	padding: 0;
	margin: 0;
	border: 0;
	text-align: center;
}

body
{
	background: url("../img/fade.png") repeat-y 50% 0;
}

div#wrapper
{
	position: relative;
	width: 1000px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-top: 0;
	border-bottom: 0;
	text-align: justify;
}

div#header
{
	margin-bottom: 10px;
	text-align: center;
}

div#menu
{
	text-align: center;
}

div#content
{
	width: 70%;
}

div#sidebar
{
	width: 30%;
}

div#unit
{
	position: relative;
}

div#footer
{
	position: relative;
	clear: both;
}
