
@highlight-r: 200;
@highlight-g: 50;
@highlight-b: 200;
@highlight-a: .8;
@highlight-rgba: rgba(@highlight-r,@highlight-g,@highlight-b,@highlight-a);
@highlight-rgb: rgb(@highlight-r,@highlight-g,@highlight-b);
@highlight-hue: hue(@highlight-rgba);
@highlight: @highlight-rgb;

@background: rgb(0,0,0);

@navigation: rgba(255,255,255,1);
@navigation-bg: rgba(0,0,0,.7);