
@highlight-red: rgb(255, 0, 0);
@highlight-orange: rgb(255, 106, 0);
@highlight-yellow: rgb(255, 216, 0);
@highlight-green: rgb(76, 255, 0);
@highlight-blue: rgb(23, 194, 234);
@highlight-purple: rgb(178, 0, 255);

@highlight-r: 23;
@highlight-g: 194;
@highlight-b: 234;
@highlight-a: .8;
@highlight-rgba: rgba(@highlight-r,@highlight-g,@highlight-b,@highlight-a);
@highlight-rgb: rgb(@highlight-r,@highlight-g,@highlight-b);
@highlight-hue: hue(@highlight-rgba);
@highlight: @highlight-orange;

@background: rgb(0,0,0);

@navigation: rgba(255,255,255,1);
@navigation-bg: rgba(0,0,0,.7);

@map-bg: rgba(0,0,0,.5);