@import "colors.less";

.forum-post {
    display: block;
    background: rgba(0,0,0,.5);
    padding: 1em;
    margin: 1em;
    margin-top: 0;
    li {
        display: block;
        padding: .5em;
    }
}