@import "colors.less";

nav {
    background: @navigation-bg;
    color: @navigation;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Xolonium', sans-serif;
    padding: 0;
    border: 1px solid @navigation-bg;
    border-bottom: 1px solid @highlight;
    margin: 0;

    .menu:hover {
        background: @navigation-bg;
        color: @highlight;
        cursor: pointer;
    }

    .menu:hover > .submenu {
        display: block;
    }

    span {
        display: none;
        position: absolute;
        top: 100%;
        left: -1px;
        width: 12em;
        background: @navigation-bg;
        color: @navigation;
        padding: .5em;
        border: 1px solid transparent;
        margin-top: 1px;
        white-space: normal;
    }

    div {
        display: inline-block;
        position: relative;
        padding: 1em;
        border: 1px solid transparent;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;

        .submenu {
            display: none;
            background: @navigation-bg;
            position: absolute;
            top: 2.5em;
            left: -1px;
            width: 12em;
            font-family: OpenSans, sans-serif;
            text-align: left;
            padding: .5em;
            border-bottom: 1px solid @highlight;
            margin: 0;
            z-index: 10;

            a {
                display: block;
                color: @navigation;
                padding: .5em;
            }

            a:hover {
                color: @highlight;

                span {
                    display: block;
                    font-style: italic;
                }
            }
            // overwrite JQuery UI defaults
            button {
                display: block;
                background: @navigation-bg;
                color: @navigation;
                width: 100%;
                border: 1px solid transparent;
                margin: 1em 0;

                span {
                    display: block;
                    position: relative;
                    background: none;
                    color: @navigation;
                    padding: 0;
                    border: 0;
                    margin-left: auto;
                    margin-right: auto;
                    white-space: nowrap;
                }
            }

            button:hover {
                background: @highlight;
                border: 1px solid transparent;
            }
        }
    }

    .nav-logo {
        display: none;
        position: relative;
        width: 5em;
        background: none;
    }

    .nav-text, .username-container {
        padding: 0;
        border: 0;
        margin: 0;
        margin-left: 4px;
    }

    .login {
        .submenu {
            cursor: auto;
            // fix username spacing issues
            .username-container {
                display: inline-block;
                position: relative;
                padding: 0;
                border: 0;
                margin: 0;
            }
            // inline steam icon
            img {
                display: inline-block;
                height: 2em;
                vertical-align: middle;
            }
            // don't want too much highlight
            label {
                color: @navigation;
            }

            input {
                width: 100%;
            }

            hr {
                margin: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .search {
        // element is on the right of the screen, change anchor to the right
        .submenu {
            cursor: auto;
            left: inherit;
            right: 0;
            width: 17em;
            padding-left: 1em;

            input {
                display: inline-block;
                width: 14em;
            }

            button {
                display: inline-block;
                width: auto;
                padding-left: 1em;
                padding-right: 1em;
                border: 1px solid transparent;
                margin-left: auto;
                margin-right: auto;

                span {
                    width: auto;
                }
            }
        }
    }
}

// affix menu after scrolling down
nav.nav-affixed {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1000;
    animation: navanim 500ms ease;

    @keyframes navanim {
        0% {
            padding: 1em;
        }

        100% {
            padding: 0;
        }
    }

    .nav-logo {
        display: inline-block;
        margin-right: 0.5em;

        img {
            position: absolute;
            top: -.4em;
            left: 0;
            bottom: 0;
            height: 2em;
            animation: logoslide 1000ms ease;

            @keyframes logoslide {
                0% {
                    /*left: -1000px;*/
                    opacity: 0;
                }

                100% {
                    /*left: 0;*/
                    opacity: 1;
                }
            }
        }

        @media only screen and (max-width: 1000px) {
            display: none;
        }
    }

    div.nav-affixed {
        padding: 0em .5em .5em .5em;

        .submenu {
            top: 1.6em;
        }

        animation: divanim 1000ms ease;

        @keyframes divanim {
            0% {
                padding: .5em;
            }

            100% {
                padding: 0em .5em .5em .5em;
            }
        }
    }
}

// shrink menu when screen is small
@media only screen and (max-width: 800px) {
    nav {

        .menu {
            padding-left: .5em;
            padding-right: .5em;
            margin: 0;
        }

        .nav-text {
            width: 0;
            overflow: hidden;
        }

        .username-container {
            * {
                display: none;
            }
            .rank {
                display: inline-block;
            }
        }
    }
}