@charset "UTF-8";

/*imports*/
@import "colors.less";
@import "forum.less";
@import "maps.less";
@import "navigation.less";
@import "modules/all_modules.less";

/* fixes some of the modern browser buggery */
* {
    padding: 0;
    margin: 0;
}

html {
    background: @background;
    /*background: #000 url('/img/screenshots/zerokfanart2_by_gnipaheler-dcc4ftv.png.jpg') no-repeat fixed 50% 50%;
    background-size: cover;*/
    color: white;
}

#logo {
    background: none;
    img {
        height: auto;
        max-width: 100%;
        max-height: 150px;
    }
}

#content {
    padding: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hide {
    display: none;
}

.avatar {
    width: 64px;
    height: 64px;
}

.username-container {
    display: inline-block;
    font-weight: bold;

    div {
        display: inline-block;
    }

    .username-extra {
        display: none;
        position: absolute;
    }
}

.username-container:hover {
    .username-extra {
        display: inline-block;
    }
}

.flag {
    display: inline-block;
    height: 12px;
    width: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.icon16 {
    display: inline-block;
    height: 16px;
    width: 16px;
}

a {
    color: @highlight;
    text-decoration: none;
}
a:hover {
    color: white;
}