<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlanetWars.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlanetWars.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerUrl" serializeAs="String">
                <value>localhost:1666</value>
            </setting>
        </PlanetWars.Properties.Settings>
    </userSettings>
</configuration>