@using ZeroKWeb
@using ZkData
@model ZkData.AccountRole
@{
    AccountRole entry = Model;
    var db = new ZkDataContext();
    Galaxy gal = db.Galaxies.Single(x => x.IsDefault);
    DateTime started = gal.Started ?? DateTime.UtcNow;
    TimeSpan limit = TimeSpan.FromDays(GlobalConst.RoundTimeLimitInDays);
    bool roundOver = (DateTime.UtcNow - started > limit);
}
@if (!roundOver)
{
    if (Global.Account != null && Global.Account.CanVoteRecall(entry.AccountByAccountID, entry.RoleType))
    {
        <a href="@Url.Action("NominateRole", "Poll", new { roleTypeID = entry.RoleTypeID, removalAccountID = entry.AccountID, isRemoval = true })" onclick=" var text = prompt('What is the reason?', 'He failed us!'); $(this).attr('href', $(this).attr('href') + '&text=' + text); ">(vote out)</a>
    }
    <span>&nbsp;</span>
    if (Global.Account != null && Global.Account.CanRecall(entry.AccountByAccountID, entry.RoleType))
    {
        <a href="@Url.Action("RecallRole", "Planetwars", new { accountID = entry.AccountID, roleTypeID = entry.RoleTypeID })">(recall)</a>
    }
}