@using ZeroKWeb
@using ZkData
@using PlasmaShared
@model ZkData.Account

<div id="commanders" class="module">

    <!--div>
        @*@Html.Partial("UnlockedTechnologies", Model.AccountUnlocks)*@
    </div-->
    @foreach (Commander comm in Model.Commanders)
    {
        <span class="fleft border"><center><img src='@comm.Unlock.ImageUrl' alt="unlock" title='$commander$@comm.CommanderID' /><br />@HttpContext.Current.Server.HtmlEncode(comm.Name)</center></span>
    }
    @if (Model.AccountID == Global.AccountID)
    {
        <span class="fleft border"><center><a href='@Url.Action("Commanders", "My")'><img src='/img/avatars/module_autorepair.png' alt="unlock" nicetitle="Configure Commanders<br><br>You can create presets for your commander to use in-game. Give your commander a unique name " /><br />Add/Edit</a></center></span>
    }
    <br class="clearfloat" />
</div>