<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PlanetWarsServer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="1666"/>
      </channels>
    </application>
  </system.runtime.remoting>
  <applicationSettings>
    <PlanetWarsServer.Settings>
      <setting name="SaveInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DefaultServerStatePath" serializeAs="String">
        <value>./serverstate.xml</value>
      </setting>
      <setting name="MaxFactionSizeDifference" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="GalaxyTemplatePath" serializeAs="String">
        <value>./Data/galaxy.xml</value>
      </setting>
      <setting name="MetalForVictory" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="MetalForDefeat" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="MetalForPlanetOwnedFree" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MetalForPlanetOwnedOccupied" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TotalMetalForFactionPlanets" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MetalForPlanetOwnedCloutBonus" serializeAs="String">
        <value>5</value>
      </setting>
    </PlanetWarsServer.Settings>
  </applicationSettings>
</configuration>