<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net40-Client" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net40-Client" />
  <package id="Microsoft.Linq.Translations" version="1.0.1" targetFramework="net40-Client" />
  <package id="ServiceStack.Text" version="3.9.48" targetFramework="net40-Client" />
  <package id="sharpcompress" version="0.9" targetFramework="net40-Client" />
</packages>