@model ZkData.ForumPost
@{
    Page.Title =  Model.ForumThread.Title + " wiki";
    ViewBag.StaticBackground = true;
    ViewBag.OpaqueBody = true;
    
}
<h1>@Model.ForumThread.Title</h1>
@Html.BBCode(Model.Text)

@if (Model.ForumThread.Title == "LobbyStart") {
    <script type="text/javascript">
        $(document).ready(function () {
            _gaq.push(['_trackEvent', 'Lobby', 'First start']);
        });
    </script>
}