A:link
{
	color: #0000FF;
}
A:visited
{
	color: #0000FF;
}
A:active
{
	color: #0000FF;
	cursor: hand;
	text-decoration: none;
}    
   


.thumbIcon
{
    max-height:96px; max-width:96px;
    width: auto;
    height:auto;
}
       
.thumbScreenshot
{
    max-height:128px; max-width:128px;
    width: auto;
    height:auto;
}
       