<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MissionEditor2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMissionService" closeTimeout="01:00:00"
                    openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="819200" maxArrayLength="1638400"
                        maxBytesPerRead="409600" maxNameTableCharCount="16384000" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://zero-k.info/MissionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMissionService"
                contract="ServiceReference.IMissionService" name="BasicHttpBinding_IMissionService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <MissionEditor2.Properties.Settings>
            <setting name="SpringPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MissionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MapDetail" serializeAs="String">
                <value>2</value>
            </setting>
        </MissionEditor2.Properties.Settings>
    </userSettings>
</configuration>